.dancing {
font-family: 'Dancing Script', sans-serif;
}

.vollkorn {
font-family: Vollkorn, serif;
}

.circle-1 {
  height: 20em;
  width: 20em;
  background-color: #e5985e;
  border-radius: 50%;
  min-width: 20em;
}

.circle-2 {
  height: 20em;
  width: 20em;
  background-color: #d8803e;
  border-radius: 50%;
  min-width: 20em;
}

.border {
  text-align: center;
  border-top: 2px solid #000000;
  width: 7em;
}

@media only screen and (min-width: 60em) {

  .circle-1, .circle-2 {
    height: 25em;
    width: 25em;
  }

}
