.dancing {
font-family: 'Dancing Script', sans-serif;
}

.vollkorn {
font-family: Vollkorn, serif;
}
.circle {
  height: 480px;
  width: 480px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
