.dancing {
font-family: 'Dancing Script', sans-serif;
}

.vollkorn {
font-family: Vollkorn, serif;
}

.circle-1 {
  height: auto;
  width: 320px;
  background-color: #e5985e;
  border-radius: 50%;
  display: inline-block;
  min-width: 320px;
}

.circle-2 {
  height: auto;
  width: 320px;
  background-color: #d8803e;
  border-radius: 50%;
  display: inline-block;
  min-width: 320px;
}
